.desktop {
  display: none;
}

.mobile {
  display: block;
}

header {
  z-index: 999;

  border-bottom: 1px solid black;
  background-color: var(--header-color);
  color: var(--header-font);
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header-row {
  min-height: 50px;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "+";
  padding-right: 3px;
}

li.current-page::before {
  content: "-";
  padding-right: 3px;

}

a.current-page {
  font-style: italic;
}

.current-page:hover {
  text-decoration: underline;
}

.collapsible-nav > div > ul > li:hover > a {
  text-decoration: underline;
  cursor: pointer;
}


.header-row > div {
  margin: auto;
}

.collapsible-nav {
  z-index: 999;
  opacity: 0.95;

  min-height: 40px;

  border-top: 1px solid black;
  background-color: var(--header-color);
  color: var(--header-font);
  margin: 0;
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  transition: all .5s ease-in-out;
}

.expanded {
  display: flex;
}

.collapsible-nav > div {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 10px 20px;
}

.collapsible-nav > div:last-child {
  border-bottom: none;
}

a:visited, a:active, a:link,  a {
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.header-left {
  text-align: left;
  width: 50%;
  padding-left: 20px;
}

.header-center {
  text-align: center;
  width: 60%;
}

.toggle-button {
  cursor: pointer;
  font-size: 1.5em;
}

.toggle-button:hover {
  text-decoration: underline;
}

.header-right {
  text-align: right;
  width: 50%;
  padding-right: 20px;
}

@media only screen and (min-width: 1000px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  .header-left {
    padding-left: 12px;
    width: 20%;
  }

  .header-right {
    padding-right: 12px;
    width: 20%;
  }
}
