:root {
  --background-color: #fffefa;
  --header-color: #F2F2EE;
  --header-font: black;
  font: normal 1.2em 'Cutive Mono', monospace;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

a:visited,
a:active,
a:link,
a {
  color: black;
}

a {
  text-decoration: none;
}


a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

body {
  height: 100%;
}

.desktop-container {
  display: none;
}

.mobile-container {
  margin-top: 10%;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-image {
  margin: 40px auto;
  display: flex;
  height: auto;
  width: 90%;
  min-height: 100px;
  min-width: 90%;
  background-position: center;
  /* Center the image */
  background-size: contain;
  background-repeat: no-repeat;
  /* Do not repeat the image */


  opacity: 0;
}

.statement-image {
  display: flex;
  height: 0;
  /* Ensures that the div grows to height. 4x5 ratio is 80%. */
  padding-top: 85%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

#statement-image-1 {
  background-image: url('images/urban_bayou/statement/Statement-1.webp');
}

@media only screen and (min-width: 1000px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop-container {
    display: block;
    height: 100%;
    position: relative;
  }

  .mobile-container {
    display: none;
  }

  footer {
    height: 2.5%;
    min-height: 40px;
    border-top: 1px solid black;
    color: var(--header-font);
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }


  footer>div {
    margin: auto;
    display: block !important;
  }

  footer>div:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  footer>div>p {
    text-align: center;
  }

  .footer-left {
    text-align: left;
    border-right: 1px solid black;
    width: 50%;
    padding-left: 7px;
  }

  .footer-right {
    text-align: right;
    width: 50%;
    padding-right: 7px;
  }
}

.image-centered {
  height: 80%;
  width: 95%;
  background-position: center;
  /* Center the image */
  background-size: contain;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade {
  animation: fade-in 1s;
  opacity: 1;
}

footer>div {
  display: none;
}

.pre-load {
  z-index: -1000;
  opacity: 0;
}

.center-holder {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5%);
}

.about-container {
  max-width: 800px;
}

.statement-container {
  max-width: 800;
}

