/* Layout */
.desktop {
  display: none;
}

.mobile {
  display: block;
}

.desktop-container {
  display: none;
}

.mobile-container {
  margin-top: 10%;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.mobile-image {
  margin: 40px auto;
  display: flex;
  height: auto;
  width: 90%;
  min-height: 100px;
  min-width: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
}

.image-centered {
  height: 80%;
  width: 95%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  display: none;
}

footer > div {
  display: none;
}

.footer-left:hover,
.footer-right:hover {
  background-color: var(--header-color);
}

/* Utility Classes */
.pre-load {
  z-index: -1;
  opacity: 0;
}

.center-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fade-in 0.5s;
  opacity: 1;
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
  .fade {
    animation: fade-in 0.2s;
    opacity: 1;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .desktop-container {
    display: block;
    height: 100%;
    position: relative;
  }

  .mobile-container {
    display: none;
  }

  footer {
    min-height: 40px;
    border-top: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 0.875em;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  footer > div {
    margin: auto;
  }

  footer > div:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  footer > div > p {
    text-align: center;
  }

  .footer-left {
    text-align: left;
    border-right: 1px solid var(--text-color);
    width: 50%;
    padding-left: 7px;
  }

  .footer-right {
    text-align: right;
    width: 50%;
    padding-right: 7px;
  }
}